.facetwp-template[data-name='websites'] {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	align-items: center;
	justify-content: center;
	gap: 25px;
	padding: 0;

	@include mobile {
		grid-template-columns: 1fr;
	}

	.websites,
	.hentry {
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border-radius: 5px;
		line-height: 1;

		img {
			border-radius: 5px;
			margin: 0;
			width: 100%;
		}

		&:hover {
			.the-content {
				transform: translate(0);
				opacity: 1;

				.the-content-inner {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}

		.the-content {
			position: absolute;
			display: flex;
			inset: 0;
			background-color: rgba(#4d34fa, 0.9);
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 40px;
			transition: 0.3s all ease;
			opacity: 0;

			.the-content-inner {
				border-radius: 5px;
				transform: translateY(100%);
				transition: 0.5s all ease;
				opacity: 0;

				h3 {
					font-size: 18px;
					line-height: 1.4;
					margin-bottom: 20px;
					display: block;
				}

				a.button-websites {
					background-color: white;
					color: #4d34fa;
					text-decoration: none;
					// text-transform: uppercase;
					font-weight: 600;
					font-size: 14px;
					padding: 15px 25px;
					border-radius: 5px;
					display: inline-block;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
